<div style="display:flex;justify-content:center;align-items:center;height:60vh;">

<form action="answer" method="GET">
  <label for="question" style="display:flex;margin-bottom: 1em">ASK ME SOMETHING!</label>
  <input name="question" type="text" placeholder="Good question">
  <input type="submit">
</form>
</div>
